* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black; 
}

.parent{
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 300px;
  background-color: #222;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  text-align: center; 
}

.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card p{
  margin: 20px 0px;
}

.card button{
  background-color: #fff;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}